html {
}

body{
}

a:visited,a {
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: minmax(0,1fr) 50px;
    padding: 10px;
    margin: 0;
}

* {
    font-family: sans-serif;
}

main {
    align-self: start;
    position: relative;
}

.section {
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    position: relative;
    padding-left: 10px;
}
.nav {
    position: sticky;
    top: 2.5rem;
}
/* .nav-item {
} */
.nav-item svg{
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    max-height: 2rem;
}
.sandr0 {
    height: 1em;
    width: auto;
}
.right {
    grid-column: span 2;
    text-align: right;
}
.hidden {
    color: transparent !important;
}

img.client-work {
    width: 100%;
}
a.client-work {
    text-decoration: none;
}

@media (min-width: 576px) {
    img.client-work {
        width: 49%;
    }
    body {
        grid-template-columns: minmax(0,1fr) 70px;
    }
}

@media (min-width: 768px) {
    img.client-work {
        width: 49%;
    }
    body {
        grid-template-columns: minmax(0,1fr) 100px;
    }
}

@media (min-width: 992px) {
    img.client-work {
        width: 49%;
    }
}

@media (min-width: 1200px) {
    img.client-work {
        width: 32%;
    }
}

@media (min-width: 1930px) {
    img.client-work {
        width: 32%;
    }
}

@media (min-width: 3840px) {
    img.client-work {
        width: 24%;
    }
}

h3 img {
    display: inline-block;
    height: 2rem;
    margin: 0 0.5rem;
    vertical-align: middle;
}

#about img, #about i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    vertical-align: middle;
}

#about .kompilers {
    vertical-align: middle;
    font-size: 2rem;
}

.post > img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    vertical-align: middle;
}
.post > strong {
    position: absolute;
    left: 3rem;
}
.post > p {
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
.post {
    margin-bottom: 2rem;
}

@font-face {
    font-family:Source Code Pro;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(code.woff2) format("woff2");
    unicode-range:u+00??,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd
}

a.kompilers,a.kompilers:visited {
    font-family:Source Code Pro,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    color: #00ff75;
    text-decoration: none;
}
.kompilers:after {
    content:"_";
    animation:blink 1.2s steps(2) infinite;
}
@keyframes blink {
    0% {
        visibility:hidden;
    }
    to {
        visibility:visible;
    }
}
