html {
}

body{
}

a:visited,a {
    color: #dddddd;
}

body {
    color:#dddddd;
    background-color:#00060e;
    display: grid;
    grid-template-columns: minmax(0,1fr) 50px;
    padding: 10px;
    margin: 0;
}

* {
    font-family: sans-serif;
}

main {
    align-self: start;
    position: relative;
}

.section {
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    position: relative;
    padding-left: 10px;
}
.nav {
    position: sticky;
    top: 2.5rem;
}
/* .nav-item {
} */
.nav-item svg{
    width: 100%;
    height: auto;
}

.highlight {
    fill: #1a84ff
}
.logo {
    width: 100%;
    height: 100%;
    max-height: 2rem;
}
.right {
    grid-column: 2;
    text-align: right;
}

img.client-work {
    width: 100%;
}

@media (min-width: 576px) {
    img.client-work {
        width: 49%;
    }
    body {
        grid-template-columns: minmax(0,1fr) 70px;
    }
}

@media (min-width: 768px) {
    img.client-work {
        width: 49%;
    }
    body {
        grid-template-columns: minmax(0,1fr) 100px;
    }
}

@media (min-width: 992px) {
    img.client-work {
        width: 49%;
    }
}

@media (min-width: 1200px) {
    img.client-work {
        width: 32%;
    }
}

@media (min-width: 1930px) {
    img.client-work {
        width: 32%;
    }
}

@media (min-width: 3840px) {
    img.client-work {
        width: 24%;
    }
}